name: Maven Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * *'

concurrency:
  group: chipotle
  cancel-in-progress: false

jobs:
  build:
    permissions:
      checks: write
      contents: read
      packages: read
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - name: Docker network prune
        run: docker network prune --force
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven
      - name: Build with Maven
        run: mvn --no-transfer-progress --batch-mode verify -U
        env:
          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
          TESTCONTAINERS_RYUK_DISABLED: true
      - name: Publish Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@v1.9.1
